* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body {
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #f2eee1;
}
img {
   max-width: 100%;
}

.wrapper {
   max-width: 92%;
   padding: 4% 4%;
}

label {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 3% 3%;
   cursor: pointer;
}
span {
   font-size: 1em;
   font-weight: 700;
}
i {
   font-size: 1em;
   max-height: 0px;
   overflow: hidden;
}

.content {
   text-align: center;
   max-height: 0px;
   overflow: hidden;
   transition: all 0.5s ease-out;
}
.mems .mem-input:checked ~ label .icon i::before {
   content: '\f068';
}
.mems .mem-input:checked ~ .content {
   max-height: 120vh;
   transition: all 0.5s ease-in;
}

.wrapper:hover i {
   max-height: 100%;
}

input {
   display: none;
}
@media screen and (min-width: 320px) {
   img {
      max-width: 65%;
   }
   span {
      font-size: 1.25em;
   }
   i {
      font-size: 1.25em;
   }
}

@media screen and (min-width: 820px) {
   img {
      max-width: 50%;
   }
   span {
      font-size: 1.5em;
   }
   i {
      font-size: 1.5em;
   }
   .mems .mem-input:hover ~ .content {
      max-height: 120vh;
      transition: all 0.5s ease-in;
   }
   .content:hover {
      max-height: 120vh;
      transition: all 0.5s ease-in;
   }
   .mems:hover i::before {
      content: '\f068';
   }
} ;
