* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body {
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #f2eee1;
}
img {
   max-width: 80%;
}
.content {
   text-align: center;
}
.wrapper {
   max-width: 92%;
   padding: 4% 4%;
}
/* .mems {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
} */
label {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 3% 3%;
   cursor: pointer;
}
span {
   font-size: 1.5em;
   font-weight: 700;
}
i {
   font-size: 1.5em;
   max-height: 0px;
   overflow: hidden;
}

.content {
   max-height: 0px;
   overflow: hidden;
}
